@import "node_modules/bootstrap/scss/bootstrap";
@import "nav";
@import "postlist";
@import "postadd";
@import "home";
@import "message";

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100%;
}
